/* App.css */

.App {
  text-align: center; /* Centralizar o conteúdo */
  width: 100vw;
  height: 100vh;
}

header {
  display: flex; /* Utilizar flexbox para alinhar os elementos lado a lado */
  align-items: center; /* Alinhar os itens verticalmente ao centro */
  justify-content: space-between; /* Distribuir os elementos uniformemente ao longo do espaço disponível */
  padding: 20px; /* Adicionar algum espaçamento interno para o header */
}


.logo-img {
  max-width: 250px; /* Definir a largura máxima da logo */
}



.light {
  background-color: rgb(255, 255, 255);
  color: black;
}

.dark {
  background-color: rgb(38, 35, 56);
  color: white;
}