/* App.css */

.App {
  text-align: center; /* Centralizar o conteúdo */
  width: 100vw;
  height: 100vh;
}

header {
  display: flex; /* Utilizar flexbox para alinhar os elementos lado a lado */
  align-items: center; /* Alinhar os itens verticalmente ao centro */
  justify-content: space-between; /* Distribuir os elementos uniformemente ao longo do espaço disponível */
  padding: 20px; /* Adicionar algum espaçamento interno para o header */
}


.logo-img {
  max-width: 250px; /* Definir a largura máxima da logo */
}



.light {
  background-color: rgb(236, 253, 219);
  color: black;
}

.dark {
  background-color: rgb(38, 35, 56);
  color: white;
}

/* App.css */


.content-container {
  display: flex;
  justify-content: center;
  width: 80%; /* ajuste conforme necessário */
  margin-top: 100px; /* ajuste conforme necessário */
  margin-left: 200px;
}

.home-container,
.notes-container {
  flex-basis: 45%; /* ajuste conforme necessário */
}

.notes-container
{
  margin-top: 80px;
  margin-left: 130px;
}

/* Estilos para tela menor */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    width: 100%; /* ajuste conforme necessário */
  }

  .home-container,
  .notes-container {
    width: 100%;
  }
}
